<div id="car-selection-modal-wrapper">
    <div id="carSelectionModal" class="modal fade" ref="carSelectionModal" tabindex="-1">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">{{ trans("d2gPmPluginCarPartsFinder::Plugin.widgetCarSelection") }}</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close" @click="clearFields">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body" id="carSelectionModalBody">

                </div>
            </div>
        </div>
    </div>
</div>




